# Python
__pycache__/
*.py[cod]
*.pyo
env/
venv/
*.egg-info/

# Modelo (demasiado grande para GitHub)
*.pt
*.onnx
modelo/
runs/

# Dataset (no subir imágenes)
train/
dataset/
dataset_crudo/
capturas_test/

# Credenciales y secretos
*.env
.env

# Sistema
.DS_Store
Thumbs.db
*.log

# VS Code
.vscode/

# Excel generados
*.xlsx
